@model IEnumerable<SimpleTeamPlayers.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a type="button" class="btn btn-success" href="@Url.Action("Create", "Image")">
        <i class="glyphicon glyphicon-plus"></i> Dodaj zdjęcie
    </a>
</p>

<div class="row">
    @foreach(var image in Model)
    {
        <div class="col-sm-6 col-md-2">
            <a href="@Url.Action("Details", "Image", new { id = image.ID})" class="thumbnail">
                <img src="@Url.Action("Show","Image", new { imageName = image.FileName })" class="img-rounded Index_Show" />
            </a>
        </div>
    }
</div>
